.navbar-brand {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-item {
    font-family: 'Courier New', Courier, monospace;
}

#contact-form {
    background-color: lightgray;
    padding: 20px;
}


@media only screen and (max-width: 600px) {
.liam-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}